@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode */
.dark-mode {
  --bg-color: #111827;
  --text-color: #f7fafc;
}

/* Light Mode */
.light-mode {
  --bg-color: #f75afc;
  --text-color: rgb(209 213 219)
}

body {
  background-color: var(--bg-color);
  --tw-opacity: 1;
  color: rgb(55 65 81 /var(--tw-opacity))
}

.hero{
  background-image: linear-gradient(to right, #10B981, #047857);
}

.placeholder-center::placeholder {
    transform: translateX(-50%);
  }
  @media (max-width: 639px) {
    .hero-custom-height {
      height: 400px;
      padding: 40px;
    }
  }

  @media (min-width: 640px) and (max-width: 767px) {
    .hero-custom-height {
      height: 400px;
      padding: 80px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .hero-custom-height {
      height: 400px;
      padding: 90px;
    }
  }

  @media (min-width: 1024px) {
    .hero-custom-height {
      height: 450px;
      padding: 100px;
    }
  }

  .login_img_section {
    background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://res.cloudinary.com/murste/image/upload/v1682428006/loginsection_krtem6.avif) center center;
  }


